@import "_variables.scss";

* {
    box-sizing: border-box;
    font-family: $fontRacing;
    font-variant: small-caps;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: $colorBackground;
}

html, body {
    height: 100%;
}

.header {
    top: 0;
    text-align: center;
    color: $colorWhite;
    font-size: 25px;
    letter-spacing: 1px;
    margin: 0 0 -15px 0;
    padding: 15px;
    background-image: $colorSiteHeader;
}


.navbar-top {
    background-color: $colorNavbar;
    letter-spacing: 1px;
    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items:center;
        
        li {
            position: relative;
            padding: 20px;
            display: block;

            a {
                text-decoration: none;
                text-align: center;
                color: $colorWhite;
                font-size: 25px;
                font-weight: bold;
            }
            ul {
                display: none;
                text-align: center;
            }
        }
        li:hover {
            border-radius: 15px;
            background-color: $colorNavbarHover;
            ul {
                display: block;
                position: absolute;
                width: 100%;
                margin: 20px 0;
                left: 0;
                border-radius: 15px;
                background-color: $colorNavbar;
            }
        }

    }
    li.active {
        color:$colorWhite;
        border-radius: 15px;
        background-image: $colorNavbarActive;
    }
}

.footer {
    text-align: center;
    color: $colorWhite;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    background-image: $colorFooter;
}

.site-header{
    text-align: center;
    color: $colorWhite;
    font-size: 65px;
}