//fonts
$fontRacing: 'Racing Sans One';
$fontReading: 'Suez One';


//colors
$colorBackground: rgb(44, 44, 44);
$colorSiteHeader: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(128, 128, 128));
$colorNavbar: rgb(31, 30, 30);
$colorNavbarHover: rgb(201, 201, 201);
$colorNavbarActive: linear-gradient(to bottom right, rgb(236, 24, 24), rgb(165, 7, 7));
$colorSmallArticle: linear-gradient(to bottom right, rgb(207, 207, 207), rgb(155, 155, 155));
$colorArticle:linear-gradient(to bottom right, rgb(189, 8, 8), rgb(170, 4, 4));
$colorFooter: linear-gradient(to bottom right, rgb(59, 59, 59), rgb(31, 31, 31));
$colorButton: linear-gradient(to bottom right, rgb(221, 221, 221), rgb(177, 177, 177));
$colorButtonHover: linear-gradient(to bottom right, rgb(236, 24, 24), rgb(165, 7, 7));
$colorWhite: rgb(255, 255, 255);
$colorBlack: rgb(0, 0, 0);