@import "_common_elements.scss";
@import "grid_items.scss";

.grid-rule-container{
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    min-height: 100%;
    grid-template-columns: 100%;
    grid-template-areas:
    'header'
    'navbar'
    'site-header'
    'rules'
    'footer';
    gap: 15px;
}

.rule-list{

    ol{

        li{
            list-style-type:decimal;
            color: $colorWhite;
            text-align: center;
            list-style-position: inside;
            font-size: 33px;
            font-family: $fontReading;
            font-variant: normal;
            padding: 5px;  
        }
    }

}