* {
    box-sizing: border-box;
    font-family: 'Racing Sans One';
    font-variant: small-caps;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: rgb(44, 44, 44);
}

.item-header{
    grid-area: header;
}

.item-navbar{
    grid-area: navbar;
}

.item-side-article{
    grid-area: side-article;
    padding: 15px;
}

.item-main-article{
    grid-area: main-article;
    padding: 15px;
}

.item-footer{
    grid-area: footer;
}

.grid-main-container{
    display: grid;
    grid-template-areas:
    'header header header header header header header header header'
    'navbar navbar navbar navbar navbar navbar navbar navbar navbar'
    'side-article side-article main-article main-article main-article main-article main-article main-article main-article'
    'footer footer footer footer footer footer footer footer footer' ;
    gap: 15px;

}

.header {
    top: 0;
    text-align: center;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    margin: 0 0 -15px 0;
    padding: 15px;
    background-image: linear-gradient(to bottom right, black, grey);
}


.navbar-top {
    background-color: rgb(31, 30, 30);
    letter-spacing: 1px;
}

.navbar-top ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items:center;
}

.navbar-top ul li {
    position: relative;
    padding: 20px;
    display: block;
}

.navbar-top ul li a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.navbar-top ul li ul {
    display: none;
    text-align: center;
}

.navbar-top ul li:hover {
    border-radius: 15px;
    background-color: rgb(201, 201, 201);
}

.navbar-top ul li:hover ul {
    display: block;
    position: absolute;
    width: 100%;
    margin: 20px 0;
    left: 0;
    border-radius: 15px;
    background-color: rgb(31, 30, 30);
}

.navbar-top li.active {
    color:white;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgb(236, 24, 24), rgb(165, 7, 7));
}

.article-small {
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, rgb(207, 207, 207), rgb(155, 155, 155));
    margin-bottom: 5px;

}

.header-side-article {
    padding: 3px;

}

.content-side-article {
    font-size: 25px;
    padding: 10px;
    text-align: justify;
    font-family: 'Suez One';
    font-variant: normal;
    
}

.article-separtor {
    background-color: rgb(255, 255, 255);
    width: 65%;
    padding: 1px;
    margin: 10px auto 13px auto;

}

.article {
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, rgb(189, 8, 8), rgb(170, 4, 4));
    margin-bottom: 15px;

}

.header-main-article {
    text-align: center;
    font-size: 60px;
}

.content-main-article {
    font-size: 45px;
    padding: 10px;
    text-align: justify;
    font-family: 'Suez One';
    font-variant: normal;

}

.footer {
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    background-image: linear-gradient(to bottom right, rgb(59, 59, 59), rgb(31, 31, 31));
    bottom: 0;
}

@media screen and (max-width:700px) {
    .grid-main-container{
        grid-template-areas:
        'header'
        'navbar'
        'side-article'
        'main-article'
        'footer' ; 
    }

    .navbar-top ul {
        flex-direction: column;
    }
}